.s-promo {
  background-color: $text-color;

  &__slide {
    overflow: hidden;
  }

  &__slide-inner {
    position: relative;
    min-height: 400px;
    display: flex;
    align-items: center;
    padding: 1rem;
  }

  &__slide-content {
    position: relative;
    z-index: 2;
    color: #fff;
    width: 100%;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
  }

  &__slide-title {
    font-size: ms(1);
    line-height: 1.2em;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0.5rem;
    max-width: 690px;

    @media only screen and (min-width: $screen-sm) {
      font-size: ms(2);
    }
  }

  &__slide-desc {
    font-size: ms(-1);
    line-height: 1.5em;
    margin-top: 0;
    margin-bottom: 1.5rem;
    max-width: 690px;

    @media only screen and (min-width: $screen-sm) {
      font-size: ms(0);
    }
  }

  &__get-more {

    @media only screen and (max-width: ($screen-xs - 1)) {
      width: 100%;
    }
  }

  &__slide-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($text-color, 0.5);
      z-index: 2;
    }

    img {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}