mixin promo()

  .s-promo
    .s-promo__slider
      .swiper-container
        .swiper-wrapper
          .swiper-slide.s-promo__slide
            section.s-promo__slide-inner
              .s-promo__slide-content
                h2.s-promo__slide-title Уплотнительное оборудование
                p.s-promo__slide-desc Профессиональное оборудование от представительства Husqvarna г. Санкт-Петербург
                +btn('Подробнее').s-promo__get-more
              .s-promo__slide-cover
                img(src='img/promo-first-slide-cover.jpg', alt='')
          .swiper-slide.s-promo__slide
            section.s-promo__slide-inner
              .s-promo__slide-content
                h2.s-promo__slide-title Уплотнительное оборудование
                p.s-promo__slide-desc Профессиональное оборудование от представительства Husqvarna г. Санкт-Петербург
                +btn('Подробнее').s-promo__get-more
              .s-promo__slide-cover
                img(src='img/promo-second-slide-cover.jpg', alt='')
          .swiper-slide.s-promo__slide
            section.s-promo__slide-inner
              .s-promo__slide-content
                h2.s-promo__slide-title Уплотнительное оборудование
                p.s-promo__slide-desc Профессиональное оборудование от представительства Husqvarna г. Санкт-Петербург
                +btn('Подробнее').s-promo__get-more
              .s-promo__slide-cover
                img(src='img/promo-third-slide-cover.jpg', alt='')
        //- .swiper-pagination

