mixin about()

  section.s-about
    .s-about__container
      h2.s-about__title Title
      .s-about__text
        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt illum quasi sed architecto quaerat ullam, dolorum exercitationem ducimus dicta distinctio corporis dolores quis accusamus vero. In modi iusto, quod beatae suscipit labore fugit aliquam adipisci, cumque tempora nemo, non veritatis temporibus aperiam maiores culpa animi quo facere rerum alias commodi.
        p In modi iusto, quod beatae suscipit labore fugit aliquam adipisci, cumque tempora nemo, non veritatis temporibus aperiam maiores culpa animi quo facere rerum alias commodi.