mixin offer()

  section.s-offer
    .s-offer__container
      h2.s-offer__title Title
      ul.s-offer__list
        li.s-offer__item
          +compactor('Husqvarna LF 75 L', 'img/husqvarna-lf-75l.png', 'LF 75 L')
        li.s-offer__item
          +compactor('Husqvarna LF 80 L', 'img/husqvarna-lf-80l.png', 'LF 80 L')
        li.s-offer__item
          +compactor('Husqvarna LF 100 L', 'img/husqvarna-lf-100l.png', 'LF 100 L')
      .s-offer__more
        #collapseExample.collapse
          ul.s-offer__list
            li.s-offer__item
              +compactor('Husqvarna LF 75 L', 'img/husqvarna-lf-75l.png', 'LF 75 L')
            li.s-offer__item
              +compactor('Husqvarna LF 80 L', 'img/husqvarna-lf-80l.png', 'LF 80 L')
            li.s-offer__item
              +compactor('Husqvarna LF 100 L', 'img/husqvarna-lf-100l.png', 'LF 100 L')

        .s-offer__show-more
          +btn('Показать больше')(type='button', data-toggle='collapse', data-target='#collapseExample', aria-expanded='false', aria-controls='collapseExample').s-offer__show-more-btn