.s-offer {
  @include section-padding;

  &__container {
    @include section-container;
  }

  &__title {
    @include section-title;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;

    @media only screen and (min-width: $screen-sm) {
      display: flex;
      flex-flow: row wrap;
      margin-left: -0.5rem;
      margin-right: -0.5rem;
    }
  }

  &__item {
    padding: 0;
    margin: 0;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    @media only screen and (min-width: $screen-sm) {
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }

  &__show-more {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;

    @media only screen and (min-width: $screen-sm) {
      margin-top: 0;
    }
  }
}