mixin page-header(mods)

  //- Param:
    mods  {string} - modifiers

  //- Usage:
    +page-header()
      div header content

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-page-header--' + modsList[i].trim();
      }
    }

  header.s-page-header(class=allMods, role='banner')&attributes(attributes)
    .s-page-header__top
      .s-page-header__top-container
        a.s-page-header__contact-link.s-page-header__contact-link--mail(href='mailto:sales@pnevmatikcity.ru') sales@pnevmatikcity.ru
        a.s-page-header__contact-link.s-page-header__contact-link--phone(href='tel:+78122440384') +7 (812) 244-03-84
        a.s-page-header__contact-link.s-page-header__contact-link--phone(href='tel:+78129063028') +7 (812) 906-30-28
    .s-page-header__bottom
      .s-page-header__bottom-container
        .s-page-header__logos
          img.s-page-header__logo.s-page-header__logo--husqvarna(src='img/logo-husqvarna.svg', alt='', width='137', height='25')
          img.s-page-header__logo.s-page-header__logo--pnevmatikcity(src='img/logo-pnevmatikcity.svg', alt='', width='198', height='25')
        ul.s-page-header__nav-list
          li: a(href='/') Продукция
          li: a(href='/') Преимущества
          li: a(href='/') О нас
          li: a(href='/') Гарантия и сервис
          li: a(href='/') Контакты
        +btn('Оставить заявку').s-page-header__get-hus
        +hamburger().s-page-header__hamburger