.s-page-header {

  &__top {
    background-color: $bg-color--shade;
    padding-left: 1rem;
    padding-right: 1rem;
    display: none;

    @media only screen and (min-width: $screen-sm) {
      display: block;
    }
  }

  &__top-container {
    max-width: 1300px;
    margin: auto;
    display: flex;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  &__contact-link {
    font-size: ms(-1);
    line-height: 1.4em;
    color: currentColor;
    display: block;
    position: relative;
    padding-left: calc(0.5rem + 14px);
    font-weight: 500;

    &::before {
      position: absolute;
      content: '';
      left: 0;
      top: 50%;
      transform: translateY(calc(-50% - 1px));
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 14px;
      height: 14px;
    }

    &--mail {
      margin-right: auto;

      &::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 14 14'%3E%3Cpath fill='%23F35321' d='M13.9995.704392L12.8735 12.6017c-.01.1217-.0477.2393-.11.3434-.0624.104-.1477.1916-.2491.2557-.1014.064-.2161.1028-.3348.1131-.1186.0104-.238-.008-.3485-.0536l-3.71756-1.4747-2.08475 2.0037c-.13705.135-.31971.2105-.50977.2106-.09961.0013-.19847-.0178-.29083-.0561-.09236-.0383-.17638-.095-.24718-.1669-.07079-.0718-.12695-.1574-.16521-.2517-.03826-.0944-.05785-.1956-.05764-.2977v-1.417L9.77982 5.375c.03846-.0491.06259-.10836.06961-.17092.00702-.06257-.00335-.12589-.02992-.18267s-.06825-.1047-.12024-.13822c-.05199-.03352-.11216-.05129-.17358-.05125-.07696.0008-.15103.03018-.20847.08271L3.52709 9.96446.476051 8.75351c-.132555-.0525-.247682-.14282-.331771-.26028-.0840882-.11747-.1336218-.25717-.14274456-.40259-.00912278-.14541.02254676-.29047.09126446-.41802.0687181-.12754.1716101-.23225.2965141-.30173L13.0682.0833087c.0998-.0580526.2133-.08676386.328-.08297715.1146.00378671.2261.03992475.322.10444145.096.064516.1727.154912.2218.261249.0491.106337.0686.224498.0565.341491l.003-.003121z'/%3E%3C/svg%3E");
      }
    }

    &--phone {

      &:not(:last-child) {
        margin-right: 1.5rem;
      }

      &::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 14 14'%3E%3Cpath fill='%23F35321' d='M13.5928 11.8137c-.2567.3613-.5738.6892-.8842 1.0017-.2724.2743-.5698.5117-.9082.6962-.798.4353-1.7186.5561-2.61025.4548-1.27415-.145-2.5055-.6903-3.58193-1.3826-.83011-.5337-1.61834-1.1723-2.30503-1.8887C2.1519 9.58912 1.1497 8.22527.544151 6.72666.0047057 5.39167-.257271 3.8413.347208 2.47917.729743 1.61699 1.45478.963776 2.18319.405778c.17087-.141499.32855-.3085687.5442-.376024.16519-.0517681.33698-.03294332.49543.0329434.36811.1532646.67595.4900716.91078.8080526.24618.33336.42579.70922.58991 1.09011.16611.38544.35416.77872.35722 1.20886.00246.33414-.1247.58514-.34863.8181-.22992.23891-.4692.46575-.66998.73212-.46628.61871-.72227 1.39366-.74099 2.17348-.02377.99238.383 2.01378 1.06003 2.72347 1.14208 1.08871 3.00736 1.42141 4.4082.67501.32026-.1707.59865-.4055.8502-.66842.18436-.19249.35201-.42387.56994-.57886.6232-.44286 1.4843.0127 2.0728.30088.4027.19719.787.43438 1.1186.742.2743.2545.6272.6153.5973 1.0297-.0202.2907-.2325.4879-.4054.6965z'/%3E%3C/svg%3E");
      }
    }
  }

  &__bottom {
    background-color: $bg-color;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  &__bottom-container {
    max-width: 1300px;
    margin: auto;
    display: flex;
    align-items: center;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }

  &__logos {
    display: flex;
    max-width: 80%;
    margin-right: auto;
  }

  &__logo {
    display: block;

    &--husqvarna {
      max-width: 35%;
      height: auto;
      margin-right: 1rem;

      @media only screen and (min-width: $screen-sm) {
        max-width: 137px;
      }
    }

    &--pnevmatikcity {
      max-width: 55%;
      height: auto;

      @media only screen and (min-width: $screen-sm) {
        max-width: 198px;
      }
    }
  }

  &__nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;

    @media only screen and (min-width: $screen-sm) {
      display: flex;
    }

    li {
      margin: 0;
      padding: 0;
      font-size: ms(-1);
      line-height: 1.4em;
      font-weight: 500;

      &:not(:last-child) {
        margin-right: 1.5rem;
      }

      a {
        display: block;
        color: currentColor;
      }
    }
  }

  &__get-hus {
    margin-left: 1.5rem;
    padding: 0.5rem 1rem;
    display: none;

    @media only screen and (min-width: $screen-sm) {
      display: block;
    }
  }

  &__hamburger {

    @media only screen and (min-width: $screen-sm) {
      display: none;
    }
  }
}