.s-contacts {
  position: relative;
  background-color: $bg-color--shade;

  &__container {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    @media only screen and (min-width: $screen-sm) {
      height: 450px;
    }
  }

  &__map {
    height: 420px;

    @media only screen and (min-width: $screen-sm) {
      position: absolute;
      top: 0;
      left: 50%;
      width: 50%;
      height: 100%;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    font-size: ms(1);
    line-height: 1.2em;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0.75rem;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    padding: 0;
    font-size: ms(-1);
    line-height: 1.4em;

    span {
      font-weight: 500;
      display: block;
      margin-bottom: 0.25rem;
    }

    a {
      color: currentColor;
    }

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }
}