mixin contact()

  .s-contacts
    .s-contacts__map
      img(src='https://images.unsplash.com/photo-1524661135-423995f22d0b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1653&q=80', alt='')
    .s-contacts__container
      .s-contacts__info
        h2.s-contacts__title Title
        ul.s-contacts__list
          li.s-contacts__item ООО "Пневматик Сити"
          li.s-contacts__item
            span Офис:
            | Санкт-Петербург, проспект 9 января д.3, литер А, корпус 6, офис 7
          li.s-contacts__item
            span Сервисный центр и склад:
            | Санкт-Петербург, проспект 9 января д.3, корпус 4. (построить маршрут)
          li.s-contacts__item
            span Контактные телефоны:
            a(href='tel:+78122440384') +7 (812) 244-03-84
            a(href='tel:+78129063028') +7 (812) 906-30-28
          li.s-contacts__item
            span Email:
            a(href='mailto:sales@pnevmatikcity.ru') sales@pnevmatikcity.ru
