.s-compactor {
  background-color: $bg-color--shade;
  padding: 1rem;
  position: relative;
  border-radius: $border-radius;
  overflow: hidden;

  @media only screen and (min-width: $screen-md) {
    padding: 2.25rem;
  }

  &__title {
    font-size: ms(0);
    line-height: 1.2em;
    font-weight: 700;
    margin: 0;
    position: absolute;
    top: 1rem;
    left: 1rem;

    @media only screen and (min-width: $screen-md) {
      top: 2.25rem;
      left: 2.25rem;
    }
  }

  &__price {
    font-size: ms(1);
    line-height: 1em;
    font-weight: 700;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    @media only screen and (min-width: $screen-md) {
      font-size: ms(2);
      margin-bottom: 0.75rem;
      margin-top: 0.5rem;
    }
  }

  &__desc {
    margin-bottom: 1rem;

    @media only screen and (min-width: $screen-md) {
      margin-bottom: 1.5rem;
    }
  }

  &__desc-list {
    margin: 0;
    font-size: ms(-1);
    line-height: 1.3em;
  }

  &__desc-group {
    margin-bottom: 0.25rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  &__desc-term {
    font-weight: 500;
  }

  &__desc-desc {
    font-weight: 400;
    font-feature-settings: 'lnum' 1;

    @supports (font-variant: lining-nums) {
      font-feature-settings: normal;
      font-variant-numeric: lining-nums;
      font-kerning: normal;
    }
  }

  &__more-desc {
    font-size: ms(-1);
    line-height: 1.4em;
    font-weight: 500;
    padding: 0;
    position: relative;

    &::after {
      position: absolute;
      content: '';
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $primary-color;
    }
  }

  &__get-hus {
    width: 100%;
  }

  &__cover {
    position: relative;
    margin-top: 1rem;

    &::before {
      display: block;
      content: '';
      width: 100%;
      padding-top: 100%;
    }

    &::after {
      position: absolute;
      content: attr(data-model);
      top: 50%;
      left: 50%;
      transform: translate3d(-50%,-50%,0);
      font-size: ms(6);
      line-height: 1em;
      white-space: nowrap;
      font-weight: 700;
      opacity: 0.05;
    }

    img {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
      z-index: 2;
    }
  }
}