mixin compactor(title, image, model)

  article.s-compactor
    h3.s-compactor__title #{title}
    .s-compactor__cover(data-model=model)
      img(src=image, alt='')
    .s-compactor__price 78 000 ₽
    .s-compactor__desc
      dl.s-compactor__desc-list
        .s-compactor__desc-group
          dt.s-compactor__desc-term Центробежная сила
          dd.s-compactor__desc-desc 10-40
        .s-compactor__desc-group
          dt.s-compactor__desc-term Скорость движения
          dd.s-compactor__desc-desc 27 м/мин
        .s-compactor__desc-group
          dt.s-compactor__desc-term Двигатель
          dd.s-compactor__desc-desc Бензин
        .s-compactor__desc-group
          dt.s-compactor__desc-term Рабочий вес
          dd.s-compactor__desc-desc 80 кг/82 кг
        .s-compactor__desc-group
          dt.s-compactor__desc-term Размер плиты (ш x д)
          dd.s-compactor__desc-desc 420 x 570 мм
      button.s-compactor__more-desc Подробнее
    +btn('Оставить заявку').s-compactor__get-hus