mixin mobile-menu()

  #s-mobile-menu.s-mobile-menu
    button.s-mobile-menu__close
      svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 12 12', width='12', height='12')
        path(fill-rule='evenodd', clip-rule='evenodd', d='M.217341.217341c.273743-.2737438.70005-.2912633.952179-.039131L11.8218 10.8305c.2521.2521.2346.6784-.0391.9522-.2738.2737-.7001.2912-.9522.0391L.17821 1.16952C-.0739223.91739-.0564029.491084.217341.217341z')
        path(fill-rule='evenodd', clip-rule='evenodd', d='M.217341 11.7827c-.2737432-.2738-.2912627-.7001-.03913-.9522L10.8305.178219c.2521-.2521326.6784-.2346131.9522.03913.2737.273744.2912.70005.0391.952181L1.16952 11.8218c-.252128.2521-.678435.2346-.952179-.0391z')
    .s-mobile-menu__inner
      ul.s-mobile-menu__list.s-mobile-menu__list--links
        li: a(href='/') Продукция
        li: a(href='/') Преимущества
        li: a(href='/') О нас
        li: a(href='/') Гарантия и сервис
        li: a(href='/') Контакты
      ul.s-mobile-menu__list.s-mobile-menu__list--contacts
        li: a(href='mailto:sales@pnevmatikcity.ru') sales@pnevmatikcity.ru
        li: a(href='tel:+78122440384') +7 (812) 244-03-84
        li: a(href='tel:+78129063028') +7 (812) 906-30-28
      +btn('Оставить заявку').s-mobile-menu__get-hus
