.s-service {
  background-color: $bg-color--shade;

  &__section {
    position: relative;
    padding: 1rem;

    &:nth-child(1) {

      @media only screen and (min-width: $screen-sm) {
        .s-service__section-content {
          padding-right: calc(50% + 2.25rem);
        }

        .s-service__section-cover {
          position: absolute;
          top: 0;
          left: 50%;
          width: 50%;
          height: 100%;
        }
      }
    }

    &:nth-child(2) {

      @media only screen and (min-width: $screen-sm) {
        .s-service__section-content {
          padding-left: calc(50% + 2.25rem);
        }

        .s-service__section-cover {
          position: absolute;
          top: 0;
          left: 0;
          width: 50%;
          height: 100%;
        }
      }
    }
  }

  &__section-container {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    @media only screen and (min-width: $screen-sm) {
      height: 450px;
    }
  }

  &__title {
    font-size: ms(1);
    line-height: 1.2em;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0.75rem;
  }

  &__text {
    font-size: ms(-1);
    line-height: 1.5em;
    margin-top: 0;
    margin-bottom: 0.75rem;

    @media only screen and (min-width: $screen-sm) {
      margin-bottom: 1.5rem;
    }
  }

  &__section-cover {
    position: relative;
    height: 240px;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}