mixin service()

  .s-service
    section.s-service__section
      .s-service__section-cover
          img(src='img/promo-first-slide-cover.jpg', alt='')
      .s-service__section-container
        .s-service__section-content
          h2.s-service__title Title
          .s-service__text
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem fugiat veritatis cumque doloribus. Repudiandae quas, sapiente modi praesentium provident quae numquam? Quod voluptatum assumenda nobis placeat dolorem natus modi laudantium.
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab unde eligendi optio eaque porro nesciunt.
          +btn('Узнать больше')
    section.s-service__section
      .s-service__section-cover
        img(src='img/promo-third-slide-cover.jpg', alt='')
      .s-service__section-container
        .s-service__section-content
          h2.s-service__title Title
          .s-service__text
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem fugiat veritatis cumque doloribus. Repudiandae quas, sapiente modi praesentium provident quae numquam? Quod voluptatum assumenda nobis placeat dolorem natus modi laudantium.
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab unde eligendi optio eaque porro nesciunt.
          +btn('Узнать больше')
