mixin advantages()

  .s-advantages
    .s-advantages__container
      ul.s-advantages__list
        li.s-advantages__item
          figure.s-advantages__figure
            img.s-advantages__icon(src='img/advantage-list.svg', alt='')
            figcaption.s-advantages__caption Расширенная гарантия на срок от 2 до 5 лет
        li.s-advantages__item
          figure.s-advantages__figure
            img.s-advantages__icon(src='img/advantage-service.svg', alt='')
            figcaption.s-advantages__caption Сервисное обслуживание в официальных центрах
        li.s-advantages__item
          figure.s-advantages__figure
            img.s-advantages__icon(src='img/advantage-map.svg', alt='')
            figcaption.s-advantages__caption Доставка в любой город России
        li.s-advantages__item
          figure.s-advantages__figure
            img.s-advantages__icon(src='img/advantage-cards.svg', alt='')
            figcaption.s-advantages__caption Наши цены установлены заводом-изготовителем