.s-advantages {
  padding: 2.25rem 1rem;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;

  @media only screen and (min-width: $screen-sm) {
    padding: 3rem 1rem;
  }

  &__container {
    @include section-container;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;

    @media only screen and (min-width: $screen-sm) {
      display: flex;
      flex-flow: row wrap;
      margin-left: -0.5rem;
      margin-right: -0.5rem;
    }
  }

  &__item {
    padding: 0;
    margin: 0;

    &:not(:last-child) {
      margin-bottom: 1rem;

      @media only screen and (min-width: $screen-md) {
        margin-bottom: 0;
      }
    }

    @media only screen and (min-width: $screen-sm) {
      flex: 0 0 50%;
      max-width: 50%;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }

    @media only screen and (min-width: $screen-sm) {
      flex: 0 0 25%;
      max-width: 25%;
    }
  }

  &__figure {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin: 0;
  }

  &__icon {
    flex: 0 0 3rem;
    max-width: 3rem;
  }

  &__caption {
    flex: 0 0 calc(100% - 3rem);
    max-width: calc(100% - 3rem);
    padding-left: 1rem;
    padding-right: 1.5rem;
    font-size: ms(-1);
    line-height: 1.4em;
    font-weight: 500;
  }
}