extends pug/layout.pug

block meta
  - var title = 'Main';
  title= title
  meta(name='description', content='')

block header
  +page-header
  +mobile-menu

block content
  +promo
  +offer
  +advantages
  +about
  +service
  +contact

block footer