.s-hamburger {
  background-color: transparent;
  padding: 0;
  position: relative;
  cursor: pointer;
  color: $text-color;
  width: 1.5rem;
  height: 1.5rem;

  span {
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    border-radius: $border-radius;

    &::before,
    &::after {
      position: absolute;
      content: '';
      display: block;
      width: 100%;
      height: 2px;
      left: 0;
      background-color: inherit;
      border-radius: $border-radius;
    }

    &::before {
      top: -7px;
    }

    &::after {
      bottom: -7px;
    }
  }
}